[Unit]
Description=MeshCom Email Gateway daemon
After=network.target

[Service]
WorkingDirectory=/home/pi/meshcom-gateway
ExecStart=/usr/bin/python3 /home/pi/meshcom-gateway/gateway.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
